@import "assets/scss/helper.scss";

$root-name: "ui-button";

.#{$root-name} {
  display: inline-block;
  box-sizing: border-box;
  width: fit-content;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;

  &--expanded {
    width: 100%;
  }

  &--view {
    &-default {
      display: flex;
      align-items: center;
      justify-content: center;

      &.#{$root-name}--size {
        &-xl {
          @include fontInter22SemiBold;

          width: 32px;
          min-width: 32px;
          height: 32px;
          min-height: 32px;
          border-radius: 5px;
        }
      }

      &.#{$root-name}--theme {
        &-default {
          color: #9fa1ad;
          background-color: $white;

          &:hover {
            color: #763aeb;
          }
        }

        &-grey {
          color: #9fa1ad;
          background-color: #f5f5f5;

          &:hover {
            color: #763aeb;
            background-color: #f2ebff;
          }
        }
      }
    }

    &-action {
      &.#{$root-name}--size {
        &-xl {
          @include fontInter19SemiBold;

          height: 57px;
          padding: 17px 31px;
          line-height: 23px;
          border-radius: 7px;

          i {
            @include fontInter28SemiBold;
          }

          @media screen and (max-width: 600px) {
            @include fontInter17SemiBold;

            height: 56px;
            padding: 18px 27px;
            line-height: 20px;

            i {
              @include fontInter26SemiBold;
            }
          }

          @media screen and (max-width: 450px) {
            @include fontInter16SemiBold;

            height: 47px;
            padding: 14px 27px;
            line-height: 19px;

            i {
              @include fontInter22SemiBold;
            }
          }
        }

        &-xs {
          @include fontInter15SemiBold;

          padding: 15px 19px;
          line-height: 18px;
          border-radius: 7px;
        }
      }

      &.#{$root-name}--theme {
        &-purple {
          color: $white;
          background-color: #6e41e2;
          box-shadow: 0 2px 4px rgba(110, 65, 226, 0.22);

          &:hover {
            background-color: #4926a1;
          }

          &:focus {
            background-color: #321e66;
          }

          &.#{$root-name}--disabled {
            color: #4f586d;
            background: #f6f6fa;
            box-shadow: none;
            cursor: initial;
          }

          &.#{$root-name}--loading {
            color: transparent;
            background: lighten(#4926a1, 5) svg-load("loading.svg") no-repeat center/auto 50%;
            border: none;
            cursor: initial;
            transition: none;
          }
        }

        &-dark-grey {
          color: #4f586d;
          background: #f6f6fa;

          &:hover {
            color: #6e7b9b;
          }

          &:focus {
            color: #000;
          }
        }

        &-green {
          color: $white;
          background: #2ecb71;

          &:hover {
            background-color: #209852;
          }

          &:focus {
            background-color: #1d7a44;
          }
        }
      }
    }

    &-extra {
      &.#{$root-name}--size {
        &-xl {
          @include fontInter14SemiBold;

          padding: 13px 18px;
          line-height: 20px;
          border-radius: 7px;
        }
      }

      &.#{$root-name}--theme {
        &-grey {
          color: #4f586d;
          background-color: #f6f6fa;

          &:hover {
            color: #6e7b9b;
          }

          &:focus {
            color: $black;
          }
        }
      }
    }

    &-simple {
      &.#{$root-name}--size {
        &-by-content {
          padding: 0;
        }
      }

      &.#{$root-name}--theme {
        &-default {
          display: flex;
          align-items: center;
          text-decoration: none;
          background-color: transparent;
          outline: none;
          transition: opacity 0.5s ease;
        }

        &-purple {
          color: #6e41e2;
          text-decoration: none;
          background-color: transparent;
          transition: background 0.5s ease, color 0.5s ease;

          &:hover {
            color: #4926a1;
          }
        }

        &-grey {
          color: #4f586d;
          text-decoration: none;
          background-color: transparent;
          transition: background 0.5s ease, color 0.5s ease;

          &:hover {
            color: #6e41e2;
          }
        }

        &-pink {
          color: #ff357e;
          text-decoration: none;
          background-color: transparent;
          transition: background 0.5s ease, color 0.5s ease;

          &:hover {
            color: #c81d5b;
          }
        }
      }
    }
  }
}
