@import "assets/scss/helper.scss";

$root-name: "ui-button";

.#{$root-name} {
  display: inline-block;
  box-sizing: border-box;
  width: fit-content;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;

  &--expanded {
    width: 100%;
  }

  &--view {
    &-default {
      display: flex;
      align-items: center;
      justify-content: center;

      &.#{$root-name}--size {
        &-xl {
          @include fontInter22Medium;

          width: 32px;
          min-width: 32px;
          height: 32px;
          min-height: 32px;
          border-radius: 5px;
        }

        &-xs {
          @include fontInter18Medium;

          width: 28px;
          min-width: 28px;
          height: 28px;
          min-height: 28px;
          border-radius: 5px;
        }
      }

      &.#{$root-name}--theme {
        &-default {
          color: #9fa1ad;
          background-color: $white;

          &:hover {
            color: $violet-basic90;
          }
        }

        &-purple {
          color: #9fa1ad;
          background-color: transparent;

          &:hover {
            color: $violet-basic90;
            background-color: rgba(163, 57, 209, 0.1);
          }

          &.#{$root-name}--active {
            color: $violet-basic90;
            background-color: rgba(163, 57, 209, 0.1);
          }
        }

        &-grey {
          color: #9fa1ad;
          background-color: $white-basic70;

          &:hover {
            color: $violet-basic90;
            background-color: $violet-basic80;
          }
        }
      }
    }

    &-action {
      &.#{$root-name}--size {
        &-xl {
          @include fontInter19SemiBold;

          height: 57px;
          padding: 17px 31px;
          line-height: 23px;
          border-radius: 7px;

          i {
            @include fontInter28SemiBold;
          }

          @media screen and (max-width: 600px) {
            @include fontInter17SemiBold;

            height: 56px;
            padding: 18px 27px;
            line-height: 20px;

            i {
              @include fontInter26SemiBold;
            }
          }

          @media screen and (max-width: 450px) {
            @include fontInter16SemiBold;

            height: 47px;
            padding: 14px 27px;
            line-height: 19px;

            i {
              @include fontInter22SemiBold;
            }
          }
        }

        &-xs {
          @include fontInter15SemiBold;

          padding: 15px 19px;
          line-height: 18px;
          border-radius: 7px;
        }

        &-small {
          @include fontInter13SemiBold;

          padding: 12px 16px;
          line-height: 14px;
          border-radius: 7px;
        }
      }

      &.#{$root-name}--theme {
        &-purple {
          color: $white;
          background-color: $violet-basic90;
          box-shadow: 0 2px 4px rgba(140, 57, 209, 0.1);

          &:hover {
            background-color: $violet-basic100;
          }

          &:focus {
            background-color: $violet;
          }

          &.#{$root-name}--disabled {
            color: $other;
            background: $white-basic50;
            box-shadow: none;
            cursor: initial;
          }

          &.#{$root-name}--loading {
            color: transparent;
            background: lighten($violet-basic100, 5) svg-load("loading.svg") no-repeat center/auto 50%;
            border: none;
            cursor: initial;
            transition: none;
          }
        }

        &-dark-grey {
          color: $other;
          background: $white-basic50;

          &:hover {
            color: $other-basic280;
          }

          &:focus {
            color: $black;
          }
        }

        &-green {
          color: $white;
          background: $green-basic90;

          &:hover {
            background-color: $green-basic100;
          }

          &:focus {
            background-color: $green;
          }
        }

        &-red {
          color: $white;
          background: $orange-basic100;
          box-shadow: 0 2px 4px rgba(255, 82, 82, 0.15);

          &:hover {
            background-color: #c83e3e;
          }

          &:focus {
            background-color: $red;
          }

          &.#{$root-name}--loading {
            color: transparent;
            background: lighten($red, 5) svg-load("loading.svg") no-repeat center/auto 50%;
            border: none;
            cursor: initial;
            transition: none;
          }
        }
      }
    }

    &-extra {
      &.#{$root-name}--size {
        &-xl {
          @include fontInter14SemiBold;

          padding: 13px 18px;
          line-height: 20px;
          border-radius: 7px;
        }
      }

      &.#{$root-name}--theme {
        &-grey {
          color: $other;
          background-color: $white-basic50;

          &:hover {
            color: $other-basic280;
          }

          &:focus {
            color: $black;
          }
        }
      }
    }

    &-simple {
      &.#{$root-name}--size {
        &-by-content {
          padding: 0;
        }
      }

      &.#{$root-name}--theme {
        &-default {
          display: flex;
          align-items: center;
          text-decoration: none;
          background-color: transparent;
          outline: none;
          transition: opacity 0.5s ease;
        }

        &-purple {
          color: $violet-basic90;
          text-decoration: none;
          background-color: transparent;
          transition: background 0.5s ease, color 0.5s ease;

          &:hover {
            color: $violet-basic100;
          }
        }

        &-grey {
          color: $other;
          text-decoration: none;
          background-color: transparent;
          transition: background 0.5s ease, color 0.5s ease;

          &:hover {
            color: $violet-basic90;
          }
        }

        &-pink {
          color: $pink-basic90;
          text-decoration: none;
          background-color: transparent;
          transition: background 0.5s ease, color 0.5s ease;

          &:hover {
            color: $pink;
          }
        }
      }
    }
  }
}
