@import "assets/scss/helper.scss";

.header-block {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 79px;
  padding: 15px 30px;
  background-color: $white;
  border-bottom: 1px solid #ebebeb;

  &--view {
    &-default {
      box-shadow: 0 0 14px rgb(0 0 0 / 5%);
    }

    &-regular {
      box-shadow: none;
    }
  }

  @media screen and (max-width: 800px) {
    position: fixed;
    height: 68px;
    padding: 6px 20px;
  }

  &__block {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &__ui-button {
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
    }
  }

  &__navigation-items {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &__button-text {
    @include fontInter15Bold;

    line-height: 18px;
    letter-spacing: -0.2145px;
  }

  &__icon {
    @include fontInter38Bold;

    display: block;
    line-height: 40px;
  }

  // Animations

  // *-enter
  // *-enter-active
  // *-enter-to

  // *-leave
  // *-leave-active
  // *-leave-to

  .mobile-navigation-enter-active,
  .mobile-navigation-leave-active {
    transition: opacity 0.35s ease-in-out;
  }

  .mobile-navigation-enter,
  .mobile-navigation-leave-to {
    opacity: 0;
  }

  .mobile-navigation-enter-to,
  .mobile-navigation-leave {
    opacity: 1;
  }
}
