@import "assets/scss/helper.scss";

.poll-new-summary-id-page {
  width: 100%;

  &__top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
  }

  &__navigation {
    @include fontInter15Medium;

    display: flex;
    align-items: center;
    color: #939fad;
    line-height: 18px;
    letter-spacing: -0.2145px;
    column-gap: 5px;
  }

  &__button-text {
    @include fontInter15Bold;

    color: #6e41e2;
    line-height: 18px;
    letter-spacing: -0.2145px;
  }

  &__inner-wrapper {
    width: 540px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 0;
    row-gap: 35px;
  }

  &__title {
    @include fontInter32Bold;

    margin: 0;
    padding: 0;
    color: $black;
    line-height: 40px;
    letter-spacing: -0.264px;

    span {
      color: #6e41e2;
    }
  }

  &__copyright {
    @include fontInter12Medium;

    color: #c9c9c9;
    line-height: 13px;
  }
}
