@import "assets/scss/helper.scss";

.shared-color {
  border-radius: 50%;

  &--theme {
    &-purple {
      background-color: $violet-basic90;
    }

    &-orange {
      background-color: $orange;
    }

    &-green {
      background-color: $green-basic90;
    }

    &-red {
      background-color: $red-basic90;
    }

    &-pink {
      background-color: $pink;
    }

    &-pink-light {
      background-color: $pink-basic90;
    }

    &-blue {
      background-color: $blue-basic80;
    }

    &-grey {
      background-color: $other-basic260;
    }
  }

  &--size {
    &-xl {
      min-width: 14px;
      min-height: 14px;
    }

    &-xs {
      min-width: 12px;
      min-height: 12px;
    }
  }
}
