@import "assets/scss/helper.scss";

.shared-color {
  width: 14px;
  height: 14px;
  border-radius: 50%;

  &--theme {
    &-purple {
      background-color: #763aeb;
    }

    &-orange {
      background-color: #ff8b56;
    }

    &-green {
      background-color: #00cf66;
    }

    &-red {
      background-color: #ff3c49;
    }

    &-pink {
      background-color: #ff007d;
    }

    &-blue {
      background-color: #009aff;
    }

    &-grey {
      background-color: #787890;
    }
  }
}
