@import "assets/scss/helper.scss";

.poll-invite-id-page {
  width: 100%;
  padding: 60px 0 80px 0;
  background-color: #f9f9f9;

  @media screen and (max-width: 800px) {
    padding: 100px 0 50px 0;
  }

  &__inner-wrapper {
    width: 640px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
      width: 640px;
    }

    @media screen and (max-width: 700px) {
      width: 90%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__title {
    @include fontInter30Bold;

    margin: 0;
    padding: 0;
    color: $black;
    line-height: 38px;
    letter-spacing: -0.264px;

    @media screen and (max-width: 600px) {
      @include fontInter26Bold;

      line-height: 32px;
    }
  }

  &__description {
    @include fontInter16Medium;

    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #999;
    line-height: 24px;
    column-gap: 5px;

    @media screen and (max-width: 600px) {
      @include fontInter14Medium;

      line-height: 24px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
}
