@import "assets/scss/helper";

.ui-textarea {
  @include fontInter16Medium;

  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  height: 110px;
  padding: 14px 17px 13px 17px;
  color: $blue;
  line-height: 20px;
  background-color: $white-basic50;
  border: solid 2px $white-basic50;
  border-radius: 7px;
  outline: none;
  -webkit-appearance: none;
  resize: none;

  @media screen and (max-width: 450px) {
    @include fontInter15Medium;

    padding: 14px 15px 13px 15px;
    line-height: 17px;
  }

  &:focus {
    color: $violet-basic90;
    background-color: $white;
    border: 2px solid $violet-basic90;
    box-shadow: 0 2px 4px rgba(110, 65, 226, 0.3);
    transition: border 0.5s ease, color 0.5s ease;
  }

  &--expanded {
    max-width: initial;
  }
}
