@import "assets/scss/helper.scss";

.share-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 20px;

  &__inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 25px;
    color: #2e2e2e;
    text-decoration: none;
    column-gap: 10px;
    background-color: #f2f2f8;
    border-radius: 8px;
    outline: none;
    transition: all 0.5s ease;

    &:hover {
      background-color: #f8f8fd;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__title {
    @include fontInter16Regular;

    margin: 0;
    padding: 0;
    color: #19385d;
    line-height: 19px;
  }

  &__text {
    @include fontInter13Regular;

    margin: 0;
    padding: 0;
    color: #8989a3;
    line-height: 20px;
  }
}
