// Colors

$white: #fff;
$white-basic100: #f9f9f9;
$white-basic90: #f7f7f7;
$white-basic80: #f3f3f3;
$white-basic70: #f5f5f5;
$white-basic60: #f4f4f8;
$white-basic50: #f6f6fa;
$white-basic40: #f1f1f1;
$white-basic30: #ececec;
$white-basic20: #ebebeb;
$white-basic10: #e6e6e6;

$black: #000;
$black-basic90: #1a1919;
$black-basic80: #23282c;
$black-basic70: #2e2e2e;

$grey: #555;
$grey-basic100: #666;
$grey-basic90: #777;
$grey-basic80: #888;
$grey-basic70: #999;
$grey-basic60: #9d9d9d;
$grey-basic50: #a4a4a4;
$grey-basic40: #acacac;
$grey-basic30: #c4c4c4;
$grey-basic20: #c9c9c9;
$grey-basic10: #d9d9d9;

$violet: #321e66;
$violet-basic100: #4926a1;
$violet-basic90: #6e41e2;
$violet-basic80: #f2ebff;
$violet-basic70: #f2eeff;
$violet-basic60: #ececf3;
$violet-basic50: #f2f2f9;
$violet-basic40: #f9f6ff;

$red: #7b1616;
$red-basic100: #ff3c49;
$red-basic90: #ed464e;
$red-basic80: #ff787e;
$red-basic70: #ffebf5;
$red-basic60: #ffeaf2;

$pink: #c81d5b;
$pink-basic100: #d34085;
$pink-basic90: #ff357e;
$pink-basic80: #ffeaf2;

$orange: #ff9263;
$orange-basic100: #ff5252;
$orange-basic90: #ffeded;
$orange-basic80: #fff6f3;

$blue: #19385d;
$blue-basic100: #0068ff;
$blue-basic90: #4199ff;
$blue-basic80: #009aff;
$blue-basic70: #edf3ff;
$blue-basic60: #edf6ff;
$blue-basic50: #eaedf3;
$blue-basic40: #f0f3f5;

$green: #1d7a44;
$green-basic100: #209852;
$green-basic90: #2ecb71;
$green-basic80: #e6f9f0;

$turquoise: #00d5c8;
$turquoise-basic100: #66c0da;
$turquoise-basic90: #e9fffe;

$other: #4f586d;
$other-basic300: #5e6b7b;
$other-basic290: #69748c;
$other-basic280: #6e7b9b;
$other-basic270: #8285a5;
$other-basic260: #787890;
$other-basic250: #8989a3;
$other-basic240: #838295;
$other-basic230: #9a9dab;
$other-basic220: #9fa1ad;
$other-basic210: #a7a9b4;
$other-basic200: #b1b5be;
$other-basic190: #acb2b7;
$other-basic180: #939fad;
$other-basic170: #abb9c1;
$other-basic160: #dcdfe6;

// Breakpoints

$mobile-max: 480px;
$mobile-min: 375px;
$desktop: 1024px;
