// Colors

$black: #000;
$white: #fff;
$green: #8fe365;
$green-light: #a4d788;
$red: #ec3943;
$red-light: rgba(255, 0, 0, 0.1);
$blue: #0156e1;
$grey-basic60: #383838;
$grey-basic50: #696969;
$grey-basic40: #6d6d6f;
$grey-basic30: #87888c;
$grey-basic20: #dbdbdb;
$grey-basic10: #e8e8e8;
$grey-basic05: #f3f3f5;

// Breakpoints

$mobile-max: 480px;
$mobile-min: 375px;
$desktop: 1024px;
