@import "~element-ui/packages/theme-chalk/src/mixins/mixins";
@import "~element-ui/packages/theme-chalk/src/switch";
@import "assets/scss/helper";

$root-name: "ui-switch";

@include b(switch) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  column-gap: 10px;
  cursor: pointer;

  &.#{$root-name} {
    &--view {
      &-default {
        flex-direction: row;
      }

      &-regular {
        flex-direction: row-reverse;
      }
    }

    &--size {
      &-default {
        @include e(core) {
          width: 48px !important;
          height: 28px;
          border-radius: 50px;

          &::after {
            top: 3px;
            left: 3px;
            width: 22px;
            height: 22px;
          }
        }
      }

      &-xs {
        @include e(core) {
          &::after {
            top: 2px;
            left: 2px;
          }
        }
      }
    }
  }

  &.is-checked {
    @include e(core) {
      background-color: #6e41e2;
    }

    &.#{$root-name} {
      &--size {
        &-default {
          @include e(core) {
            &::after {
              left: 100%;
              margin-left: -25px;
            }
          }
        }

        &-xs {
          @include e(core) {
            &::after {
              left: 100%;
              margin-left: -18px;
            }
          }
        }
      }
    }
  }

  @include e(core) {
    background-color: #ececf3;
    border: none;
  }

  @include e(label) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    span {
      @include fontInter15Medium;

      color: #69748c;
      font-size: 15px !important;
      line-height: 16px !important;
      line-height: 1.5;
      letter-spacing: -0.2145px;
    }

    &.is-active {
      span {
        color: #6e41e2;
      }
    }
  }
}
