@import "assets/scss/helper.scss";

.navigation-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  column-gap: 10px;
  list-style: none;

  &__link {
    @include fontInter16Bold;

    display: inline-block;
    margin: 0;
    padding: 12px 22px;
    color: #8285a5;
    letter-spacing: -0.264px;
    text-decoration: none;
    background-color: $white;
    background-color: transparent;
    border-radius: 50px;
    outline: none;
    transition: background 0.5s ease, color 0.5s ease;

    &:hover,
    &.nuxt-link-exact-active {
      color: #6e41e2;
      background-color: #f9f6ff;
    }
  }
}
