@import "assets/scss/helper.scss";

.poll-question {
  display: flex;
  flex-direction: column;
  background-color: $white;
  background-clip: border-box;
  border: solid 1px #ececec;
  border-radius: 7px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);

  &--collapsed {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &__header {
    position: relative;
    display: flex;
    padding: 20px 16px 10px;

    &--collapsed {
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px;

      @media screen and (max-width: 450px) {
        padding: 20px 10px;
      }
    }
  }

  &__block {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__actions {
    position: absolute;
    top: 1px;
    right: 0;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-right: 4px;
    column-gap: 5px;

    &--collapsed {
      position: static;
    }
  }

  &__divider {
    width: 1px;
    height: 20px;
    border-right: 1px solid #b1b5be;
  }

  &__body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px 20px 16px;
    transition: all 0.42s ease-out;
    row-gap: 4px;

    &--empty {
      padding: 10px 16px 20px;
    }
  }

  &__answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    & > span {
      width: 100%;
    }
  }

  &__answer {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1px 2px;
    border: 1px solid transparent;
    border-radius: 4px;

    &:hover,
    &:focus {
      border: 1px solid #f7f7f7;

      span,
      button {
        opacity: 1;
      }
    }
  }

  &__answer-move {
    @include fontInter20Regular;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin-right: 7px;
    color: #b1b5be;
    border-radius: 4px;
    cursor: grab;
    opacity: 0;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: #ececec;
    }
  }

  &__poll-answer {
    margin-right: 16px;
  }

  &__answer-button {
    opacity: 0;

    i {
      display: block;
    }
  }

  &__modal-title {
    @include fontInter20Medium;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: $black;
    line-height: 20px;

    @media screen and (max-width: 450px) {
      @include fontInter18Medium;

      line-height: 18px;
    }
  }

  .ghost {
    border: 1px solid #f7f7f7;
  }

  .answers-move,
  .answers-enter-active,
  .answers-leave-active {
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  }

  .answers-enter-from,
  .answers-leave-to {
    transform: scaleY(0.01) translate(10px, 0);
    opacity: 0;
  }

  .answers-leave-active {
    position: absolute;
  }
}
