@import "~element-ui/packages/theme-chalk/src/mixins/mixins";
@import "assets/scss/helper";

$root-name: 'ui-progress';

@mixin progress-bar-common($color) {
  /* stylelint-disable selector-pseudo-element-no-unknown */
  &::v-deep {
    @include b(progress-bar) {
      @include e(inner) {
        background-color: $color;
      }
    }
  }
}

.#{$root-name} {
  width: 100%;
  box-sizing: border-box;

  @include b(progress) {
    width: 100%;
    height: 8px;
    border-radius: 20px;

    &.#{$root-name}--completed {
      /* stylelint-disable selector-pseudo-element-no-unknown */
      &::v-deep {
        @include b(progress-bar) {
          @include e(inner) {
            border-radius: 20px;
          }
        }
      }
    }

    &.#{$root-name}--view {
      &-default {
        &.#{$root-name}--theme {
          &-green {
            background-color: $green-basic80;

            @include progress-bar-common($green-basic90);
          }

          &-purple {
            background-color: $violet-basic80;

            @include progress-bar-common($violet-basic90);
          }

          &-red {
            background-color: $red-basic60;

            @include progress-bar-common($red-basic100);
          }

          &-blue {
            background-color: $blue-basic70;

            @include progress-bar-common($blue-basic100);
          }
        }
      }

      &-regular {
        &.#{$root-name}--theme {
          &-green {
            @include progress-bar-common($green-basic90);
          }

          &-purple {
            @include progress-bar-common($violet-basic90);
          }

          &-red {
            @include progress-bar-common($red-basic100);
          }

          &-blue {
            @include progress-bar-common($blue-basic100);
          }
        }
      }
    }

    /* stylelint-disable selector-pseudo-element-no-unknown */
    &::v-deep {
      @include b(progress-bar) {
        @include e(inner) {
          height: 8px;
          border-radius: 20px;
        }
      }
    }
  }
}
