@import "assets/scss/helper.scss";

.poll-settings-id-page {
  width: 100%;
  padding: 60px 0 80px 0;
  background-color: $white-basic100;

  @media screen and (max-width: 800px) {
    padding: 100px 0 50px 0;
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
    margin: 0 auto;
    row-gap: 15px;

    @media screen and (max-width: 1000px) {
      width: 640px;
    }

    @media screen and (max-width: 700px) {
      width: 90%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__title {
    @include fontInter30Bold;

    margin: 0;
    padding: 0;
    color: $black;
    line-height: 38px;
    letter-spacing: -0.264px;

    @media screen and (max-width: 600px) {
      @include fontInter26Bold;

      line-height: 32px;
    }
  }

  &__description {
    @include fontInter16Medium;

    width: 100%;
    margin: 0;
    padding: 0;
    color: $grey-basic70;
    line-height: 24px;

    @media screen and (max-width: 600px) {
      @include fontInter14Medium;

      line-height: 24px;
    }
  }

  &__text {
    @include fontInter16Medium;

    width: 100%;
    margin: 0;
    padding: 0;
    color: #757575;
    line-height: 17px;
    letter-spacing: -0.264px;
  }

  &__button-text {
    @include fontInter16SemiBold;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
    row-gap: 25px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }

  &__label {
    @include fontInter14Medium;

    color: #757575;
    line-height: 17px;
  }

  &__notifications {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    border-top: solid 2px $white-basic50;
    border-bottom: solid 2px $white-basic50;
    row-gap: 8px;
  }

  &__sub-title {
    @include fontInter16Regular;

    margin: 0;
    padding: 0;
    color: $black;
    line-height: 19px;
    letter-spacing: -0.264px;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
  }
}
