@import "assets/scss/helper.scss";

.footer-block {
  width: 100%;
  padding: 50px 0 60px 0;
  background-color: $white;
  border-top: solid 1px #f4f4f4;

  @media screen and (max-width: 450px) {
    padding: 50px 0 30px 0;
  }

  &__inner-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
      width: 90%;
    }

    @media screen and (max-width: 450px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__social-links {
    margin: 50px 0 30px 0;
  }

  &__copyright {
    @include fontInter13Regular;

    width: 100%;
    color: #c9c9c9;
    line-height: 13px;
    letter-spacing: -0.2145px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    row-gap: 10px;
  }

  &__link {
    @include fontInter15Medium;

    clear: both;
    color: #888;
    letter-spacing: -0.25575px;
    text-decoration: none;
    outline: none;
    transition: background 0.5s ease, color 0.5s ease;

    &:hover {
      color: #6e41e2;
    }
  }
}
