@import "assets/scss/helper.scss";

.poll-question-counter {
  @include fontInter12Regular;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: $white;
  text-align: center;
  background-color: $grey-basic30;
  border-radius: 50%;
}
