@import "assets/scss/helper.scss";

.poll-new-share-id-page {
  width: 100%;

  &__top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
  }

  &__navigation {
    @include fontInter15Medium;

    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    color: $other-basic200;
    line-height: 18px;
    letter-spacing: -0.2145px;
    column-gap: 5px;
  }

  &__button-text {
    @include fontInter16Bold;

    line-height: 18px;
    letter-spacing: -0.2145px;
  }

  &__inner-wrapper {
    width: 540px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
      width: 540px;
    }

    @media screen and (max-width: 600px) {
      width: 90%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 150px 0;
    row-gap: 35px;

    @media (max-height: 900px) {
      padding: 80px 0;
    }

    @media (max-height: 700px) {
      padding: 40px 0;
    }

    @media (max-height: 900px) and (max-width: 600px) {
      padding: 0 0 50px 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__title {
    @include fontInter32Bold;

    margin: 0;
    padding: 0;
    color: $black;
    line-height: 40px;
    letter-spacing: -0.264px;

    span {
      color: $violet-basic90;
    }

    @media screen and (max-width: 600px) {
      @include fontInter26Bold;

      line-height: 32px;
    }
  }

  &__text {
    @include fontInter16Medium;

    margin: 0;
    padding: 0;
    color: #9a9dab;
    line-height: 24px;
    letter-spacing: -0.264px;
  }

  &__copyright {
    @include fontInter12Medium;

    margin: 0;
    padding: 0;
    color: $grey-basic20;
    line-height: 13px;
  }
}
