@import "assets/scss/helper.scss";

$root-name: "poll-question-type";

.#{$root-name} {
  display: flex;
  clear: both;
  padding: 0;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &--view {
    &-default {
      align-items: center;
      padding: 10px 20px;
      column-gap: 10px;
      background-color: transparent;
      border: none;

      &:hover {
        background-color: $blue-basic40;
      }

      &.#{$root-name}--active {
        &:hover {
          background-color: transparent;
        }
      }

      &.#{$root-name}--default {
        justify-content: center;
        width: 30px;
        height: 24px;
        padding: 0;

        &:hover {
          color: $black-basic80;
          background-color: $white-basic10;
          border-color: $grey-basic10;
        }

        &:active {
          background-color: $grey-basic10;
        }
      }
    }

    &-card {
      flex-direction: column;
      width: 100%;
      background-color: $white-basic90;
      border: 1px solid $blue-basic50;

      &:hover {
        background-color: $white-basic80;
      }
    }
  }

  &__icon-wrapper {
    &--view {
      &-card {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 80px;
      }
    }
  }

  &__icon {
    vertical-align: middle;

    &--view {
      &-default {
        width: 27px;
        max-height: 21px;

        &.#{$root-name}__icon--default {
          width: 20px;
        }
      }

      &-card {
        width: 100%;
        max-width: 70%;
        height: 100%;
        max-height: 45%;
      }
    }
  }

  &__title-wrapper {
    &--view {
      &-card {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0 10px;
        text-align: center;
        background-color: $white;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }

  &__title {
    @include fontInter14Regular;

    color: $other-basic290;

    &--active {
      color: $violet-basic90;
    }
  }
}
