@import "assets/scss/helper.scss";

.ui-input {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  box-sizing: border-box;
  width: fit-content;

  &--expanded {
    width: 100%;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    outline: none;
    transition: border 0.5s ease, color 0.5s ease;
    -webkit-appearance: none;

    &--expanded {
      max-width: initial;
    }

    &--size {
      &-xl {
        @include fontInter17Medium;

        padding: 16px 17px 15px 17px;
        border: solid 2px #f6f6fa;
        border-radius: 7px;

        &:focus {
          border: 2px solid #6e41e2;
          box-shadow: 0 2px 4px rgba(110, 65, 226, 0.3);
        }

        @media screen and (max-width: 450px) {
          @include fontInter15Medium;

          padding: 14px 15px 13px 15px;
          line-height: 17px;
        }
      }

      &-xs {
        @include fontInter16Medium;

        padding: 14px 17px 13px 17px;
        line-height: 20px;
        border: solid 2px #f6f6fa;
        border-radius: 7px;

        &:focus {
          border: 2px solid #6e41e2;
          box-shadow: 0 2px 4px rgba(110, 65, 226, 0.3);
        }

        @media screen and (max-width: 450px) {
          @include fontInter15Medium;

          padding: 14px 15px 13px 15px;
          line-height: 17px;
        }
      }

      &-by-content {
        @include fontInter18Regular;

        @media screen and (max-width: 450px) {
          @include fontInter15Regular;
        }
      }

      &-small {
        @include fontInter14Regular;
      }
    }

    &--view {
      &-default {
        color: #19385d;
        background-color: #f6f6fa;

        &:focus {
          color: #6e41e2;
          background-color: $white;
          transition: border 0.5s ease, color 0.5s ease;
        }
      }

      &-regular {
        color: #19385d;
        background-color: $white;
        border-color: $white;

        &:focus {
          color: #19385d;
          background-color: #f6f6fa;
          transition: border 0.5s ease, color 0.5s ease;
        }
      }

      &-extra {
        display: inline-block;
        white-space: normal;
        word-break: break-word;
        background: none;
        border: none;
        outline: none;

        &::placeholder {
          color: #b1b5be;
        }
      }
    }
  }

  &__error {
    @include fontInter16Medium;

    color: #ff5252;
    line-height: 17px;
    letter-spacing: -0.264px;
    text-align: start;
  }
}
