@import "assets/scss/helper.scss";

.poll-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  background-color: $white;
  border: 1px solid #ebebeb;
  outline: none;
  box-shadow: 0 0 14px rgb(0 0 0 / 5%);
  transition: box-shadow 0.5s ease;

  &:hover {
    position: relative;
    z-index: 50;
    box-shadow: 0 10px 13px rgb(120 81 195 / 7%);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }

  &--view {
    &-default {
      padding: 17px 16px 15px 16px;
      border-radius: 8px;
    }

    &-regular {
      padding: 35px 20px 25px 30px;
      border-radius: 10px;
    }
  }

  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__outer-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  &__title {
    @include fontInter19SemiBold;

    color: $black;
  }

  &__text {
    @include fontInter14Regular;

    margin: 0;
    padding: 0;
    color: #999;
    line-height: 15px;
  }
}
