@import "assets/scss/helper.scss";

.shared-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: $white;
  text-align: center;
  background-color: $black;

  &--uppercase {
    text-transform: uppercase;
  }

  &--size {
    &-xl {
      @include fontInter14Medium;

      padding: 0 6px;
      line-height: 24px;
      border-radius: 6px;
    }

    &-small {
      @include fontInter8Bold;

      padding: 3px 5px;
      font-size: 8px;
      line-height: 8px;
      border-radius: 5px;
    }
  }

  &--theme {
    &-purple {
      color: #763aeb;
      background-color: #f0e8ff;
    }

    &-orange {
      color: #ff7204;
      background-color: #fff0e8;
    }

    &-green {
      color: #1d9f00;
      background-color: #e7fbe0;
    }

    &-red {
      color: #ff3642;
      background-color: #ffeded;
    }

    &-pink {
      color: #ff007d;
      background-color: #ffebf5;
    }

    &-pink-light {
      color: $white;
      background-color: #ff357e;
    }

    &-blue {
      color: #0068ff;
      background-color: #edf3ff;
    }

    &-grey {
      color: #787890;
      background-color: #f4f4f8;
    }
  }
}
