@import "assets/scss/helper.scss";

.brand-block {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  transition: opacity 0.5s ease;

  &--size {
    &-default {
      width: 26px;
    }

    &-xl {
      width: 60px;

      @media screen and (max-width: 600px) {
        width: 30px;
      }
    }
  }

  &:visited {
    color: $black-basic70;
    text-decoration: none;
    outline: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}
